/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Root for color */
:root {
  --main-color: #bd5d38;
  --brown-color: #ca7d60;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-brown-color: #e1b6a4;
  --main-font: 'Sofia Sans Semi Condensed', sans-serif;
  --border-color: #cfcfcf;
  --name-color: #343a40;
  --description-profile-color: #65676a;
  --social-media-color: #495057;
}

/* Styling for Side Navbar Contianer */
.left-navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 20px;
  top: 0;
  left: 0;
  width: 17rem;
  height: 100vh;
  background-color: var(--main-color);
}

/* Styling for bars in left navbar */
.fa-bars {
  position: absolute;
  top: 20px;
  right: -50px;
  background-color: var(--white-color);
  min-width: 40px;
  min-height: 40px;
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--main-color);
  visibility: hidden;
}

/* Styling for profile picture */
.profile-picture img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 8px solid var(--brown-color);
}

/* Styling for menu items */
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 800;
  color: var(--light-brown-color);
  text-transform: uppercase;
}

.menu-items li a.active {
  color: var(--white-color);
}

.menu-items li a:hover {
  color: var(--white-color);
}

/* Styling untuk konten utama */
.main-content {
  margin-left: 17rem;
  background-color: var(--white-color);
  height: 100vh;
}

/* Styling for container each of components */
.about,
.experience,
.education,
.skills,
.interest,
.certification {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  border-bottom: 1px solid var(--border-color);
}

.experience,
.education,
.skills,
.interest,
.certification {
  gap: 60px;
}

/* Styling for about content */
.about h2 {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 90px;
  color: var(--name-color);
}

.about h2:after {
  color: var(--main-color);
  content: 'Damanik';
}

/* Styling for description profile */
.description-profile {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  color: var(--description-profile-color);
}

.description-profile span::after {
  content: ' · ';
  font-weight: bold;
  margin: 0 2px;
}

.description-profile a {
  color: var(--main-color);
  text-decoration: underline;
  font-weight: bold;
}

/* Styling for skills description */
.skills-description {
  margin-top: 60px;
  font-family: var(--main-font);
  color: var(--description-profile-color);
  font-size: 20px;
  letter-spacing: 1px;
}

/* styling for social media */
.social-media {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  gap: 20px;
}

.social-media a {
  background-color: var(--social-media-color);
  display: inline-block;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 25px;
}

.social-media a:hover {
  background-color: var(--main-color);
}

/* Styling for experience and education */
.experience h1,
.education h1,
.skills h1,
.interest h1,
.certification h1 {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: var(--name-color);
}

.list-experience div,
.list-education div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-experience div h3,
.list-education div h3 {
  font-family: var(--main-font);
  font-size: 25px;
  color: var(--black-color);
  text-transform: uppercase;
  font-weight: 500;
}

.list-experience div span,
.list-education div span {
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--main-color);
}

.list-experience h4,
.list-education h4 {
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--description-profile-color);
  text-transform: uppercase;
  font-weight: 500;
}

.list-experience p,
.list-education p {
  margin-top: 20px;
  font-family: var(--main-font);
  color: var(--description-profile-color);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 25px;
}

/* Styling for skills */
.skills h4 {
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--description-profile-color);
  text-transform: uppercase;
  font-weight: 500;
}

.skills-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.skills-list i {
  font-size: 55px;
  color: var(--description-profile-color);
}

.workflow ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--description-profile-color);
  font-weight: 400;
  margin: 20px 0px 0px 20px;
}

.workflow ul li {
  list-style: none;
  font-family: var(--main-font);
  font-size: 18px;
}

/* Styling for Interests content */
.interest p {
  list-style: none;
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--description-profile-color);
}

/* Styling for Certification */
.list-certification {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-certification p {
  list-style: none;
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--description-profile-color);
}

.list-certification p i {
  color: gold;
  letter-spacing: 1px;
}

/* Styling for responsive to tablet device */
@media only screen and (max-width: 972px) {
  .left-navbar {
    width: 12rem;
  }

  .main-content {
    margin-left: 12rem;
  }

  .about h2 {
    font-size: 70px;
  }

  .experience,
  .education,
  .skills,
  .interest,
  .certification {
    gap: 40px;
  }
}

/* Styling for responsive to mobile device */
@media only screen and (max-width: 600px) {
  .left-navbar {
    width: 17rem;
    margin-left: -17rem;
  }

  .main-content {
    margin-left: 0;
  }

  .experience,
  .education,
  .skills,
  .interest,
  .certification {
    gap: 20px;
    padding: 30px 50px;
  }

  .fa-bars {
    visibility: visible;
  }

  /* Styling for action on click navbar */
  .navbar-active {
    margin-left: 0;
    transition: .2s ease-in-out;
  }

  .navbar-inactive {
    margin-left: -17rem;
    transition: .2s ease-in-out;
  }
}